{% extends "layout.html" %}
{% load static %}
       
{% block body  %}

<section class="about-area section-gap">
	    <div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 col-md-12 about-right">
					<div class="section-title">
							
						<h2><br><br><br>Hakkımızda</h2>
					</div>
					<div class="col-lg-12 about-left">
						<img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
					</div>
					<div class="mb-50 wow fadeIn" data-wow-duration=".8s"></div>
						<p>
							  Her şey üniversiteye başladığımızda “Acaba bir Interrail mi yapsak?” dememizle başladı. O an için paramız yoktu ancak hevesimiz vardı. Başta iki sene sonra yapalım diyerek anlaştık. Ancak fark ettik ki düzgün bir planlamayla tahminlerimizden çok daha ucuza gezebiliriz. “Madem öyle.” dedik “Neden bu yaz başlamıyoruz?”
						</p>
						<p>  Bizim için bir gezi ikiye ayrılıyor. Bir planlama evresi iki gezinin kendisi. Gezinin kendisi işin kolay kısmı. Son zamanların meşhur dizisi “La Casa de Papel”deki gibi, her ne kadar en ince detayına kadar planlasanız da işler hiçbir zaman planladığınız gibi gitmez. Ama işler değiştiğinde bile seçeneklerinizin neler olacağını önceden bilmek her zaman iyidir. O yüzden bir gezinin bizim için en güzel yerinden biri planlamasıdır.
						</p>
						<p>
							  Biz planlamaya ilk önce nereye gitsek diyerek başlarız. Bu aşamayı geziden 2 sene önce kararlaştırmış oluruz. Bu dönemde yapılacak iş uçak biletlerini kontrol etmek olur. Gitmek istediğimiz yere hangi firmalar uçuyor, ne zamanlar kampanya yaparlar ve hangi ay en ucuz oldukları zamandır? Yine bu dönemde şimdiye kadar hiç uyamasak da bir kabataslak rota çıkarırız. Ardından elimizdeki verilere göre en ucuz olduğunu düşündüğümüz zamanda biletleri alır ve rotamızı oluştururuz.
						</p>
						<p>
							  Rotayı oluştururken en zorlandığımız konu her zaman hangi şehirde nereleri gezeceğimiz konusudur. Bir şehirde harcayacağımız günlük tutarı genelde 20 ila 30 euro veya dolar arasında belirleriz. Bu paraya konaklama, yiyecek ve müze ücretleri dâhil. Bir şehirden maksimum zevki alabilmenin yolunun hem ücretsiz bütün yerleri gezmek hem de önemli ücretli yerlere de gitmekten geçtiğini düşünüyoruz. Ama asıl soru paramızın hangilerine gitmeye yeteceği ve hangilerine gitmeye değer sorusu. Her ne kadar internette birçok mükemmel gezi blogu olsa da şimdiye kadar bizim bu ihtiyacımızı karşılayacak bir tanesini bulamadık. Bu nedenle her seferinde tek tek bir liste çıkarıp o yerlerin ücretlerini bulup aralarından seçmemiz gerekti. Madem böyle bir site yok ve bizim de yeni yerler keşfetme ateşimiz yakın zamanda sönecek gibi durmuyor, o zaman biz bir tane kuralım dedik.
						</p>
					</div>
				</div>
			</div>
        </div>
    </section>
{% endblock body  %}