{% extends "layout.html" %}
{% load static %}

{% block body %}

<section class="contact-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-title">
						<br>
						<h2>İletişim</h2>
						<p>Bize e-mail adresimiz üzerinden ulaşabilirsiniz..</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="contact-box">
						<h4>iletisim@planligezi.com</h4>
					</div>
				</div>
			</div>
			<br>
		</div>
	</section>
	

{% endblock body %}