{% extends "layout.html" %}

{% block body %}

<section class="about-area section-gap">
  <div class="container">
      <div class="row justify-content-sm-center">
          <div class="col-xs-12">
              <div class="section-title">
                  <h2>{{seyahat.title}}</h2>
              </div>
              <div class="mb-80 wow fadeIn" data-wow-duration=".8s">
                  {{seyahat.content|safe}}
                  
                  {% if seyahat.seyahat_image %}
                  <br>
                  <img class="img-fluid rounded" src="{{seyahat.seyahat_image.url}}" alt=>
                  <br>
                  {% endif %}
                  <hr>
                  <!-- Comments Form -->
                  <h4>Yorumlar</h4>
                  <hr>
                    {% if comments %}
                    {% for comment in comments  %}
                    <div class="media mb-4">
                        
                        <div class="media-body">
                          <h5 class="mt-0">{{comment.comment_author}}</h5>
                          {{comment.comment_date}}<br>
                          {{comment.comment_content}}
                        
                        </div>
                      </div>
                    {% endfor %}
                    
                    {% else %}
                    <div class="alert alert-danger">
                        Henüz Yorum Yapılmadı..
                    </div>
                    {% endif %}

                         <div class="card my-4">
                            <h5 class="card-header">Yorum Ekle:</h5>
                            <div class="card-body">
                                <form method = "post" action = "{% url 'seyahat:comment' seyahat.id %}">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">İsim</label>
                                        <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                                    </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Yorum</label>
                                    <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-danger">Ekle</button>
                                </form>
                            </div>
                        </div>
                  
                        <hr>
                  <p>{{seyahat.created_date}}</p>
                 
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock body %}